In [5]:
import pandas as pd

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [7]:
df: pd.DataFrame=pd.read_csv("C:/Users/aksha_t30bq4h/Desktop/New folder/ml/capitalbikeshare.csv")
df.columns

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

In [21]:

X = df[["season", "yr", "mnth", "holiday", "weekday", "workingday", "weathersit"]].astype["category"]

# Step 2: Create dummy variables for categorical columns
X = pd.get_dummies(X, columns=["season", "yr", "mnth", "holiday", "weekday", "workingday", "weathersit"])

# Step 3: Assign y (assuming "rentals" is your target variable)
y = df["rentals"]

KeyError: "None of [Index(['season', 'yr', 'mnth', 'holiday', 'weekday', 'workingday',\n       'weathersit'],\n      dtype='object')] are in the [columns]"

In [12]:
X_train, X_test, y_train, y_test=train_test_split[X,y, test_size:=0.2, random_state:=0]

NameError: name 'X' is not defined

In [14]:
model=LinearRegression()

In [15]:
model.fit(X_train, y_train)
test_score=model.score(X_test, y_test)
print ("test r^2 score:", test_score)

NameError: name 'X_train' is not defined

In [22]:
df

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,166,2015-10-01 00:01:30,2015-10-01 00:04:16,31602,Park Rd & Holmead Pl NW,31105,14th & Harvard St NW,W21109,Member
1,379,2015-10-01 00:01:38,2015-10-01 00:07:58,31314,34th & Water St NW,31237,25th St & Pennsylvania Ave NW,W20603,Member
2,696,2015-10-01 00:01:52,2015-10-01 00:13:28,31214,17th & Corcoran St NW,31214,17th & Corcoran St NW,W01233,Member
3,219,2015-10-01 00:02:46,2015-10-01 00:06:26,31104,Adams Mill & Columbia Rd NW,31121,Calvert St & Woodley Pl NW,W00218,Member
4,253,2015-10-01 00:03:02,2015-10-01 00:07:16,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,W21612,Member
...,...,...,...,...,...,...,...,...,...
705998,1439,2015-12-31 23:53:01,2016-01-01 00:17:01,31051,Arlington Blvd & N Queen St,31258,Lincoln Memorial,W20756,Member
705999,1440,2015-12-31 23:53:03,2016-01-01 00:17:04,31051,Arlington Blvd & N Queen St,31258,Lincoln Memorial,W20374,Member
706000,455,2015-12-31 23:56:46,2016-01-01 00:04:22,31114,18th St & Wyoming Ave NW,31280,11th & S St NW,W21538,Member
706001,820,2015-12-31 23:57:46,2016-01-01 00:11:27,31226,34th St & Wisconsin Ave NW,31214,17th & Corcoran St NW,W22194,Member
706002,244,2015-12-31 23:57:57,2016-01-01 00:02:01,31628,1st & K St SE,31108,4th & M St SW,W00589,Member

In [23]:
df.head()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,166,2015-10-01 00:01:30,2015-10-01 00:04:16,31602,Park Rd & Holmead Pl NW,31105,14th & Harvard St NW,W21109,Member
1,379,2015-10-01 00:01:38,2015-10-01 00:07:58,31314,34th & Water St NW,31237,25th St & Pennsylvania Ave NW,W20603,Member
2,696,2015-10-01 00:01:52,2015-10-01 00:13:28,31214,17th & Corcoran St NW,31214,17th & Corcoran St NW,W01233,Member
3,219,2015-10-01 00:02:46,2015-10-01 00:06:26,31104,Adams Mill & Columbia Rd NW,31121,Calvert St & Woodley Pl NW,W00218,Member
4,253,2015-10-01 00:03:02,2015-10-01 00:07:16,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,W21612,Member

In [24]:
df.isnull()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
705998,False,False,False,False,False,False,False,False,False
705999,False,False,False,False,False,False,False,False,False
706000,False,False,False,False,False,False,False,False,False
706001,False,False,False,False,False,False,False,False,False
706002,False,False,False,False,False,False,False,False,False

In [25]:
df.dropna()

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,166,2015-10-01 00:01:30,2015-10-01 00:04:16,31602,Park Rd & Holmead Pl NW,31105,14th & Harvard St NW,W21109,Member
1,379,2015-10-01 00:01:38,2015-10-01 00:07:58,31314,34th & Water St NW,31237,25th St & Pennsylvania Ave NW,W20603,Member
2,696,2015-10-01 00:01:52,2015-10-01 00:13:28,31214,17th & Corcoran St NW,31214,17th & Corcoran St NW,W01233,Member
3,219,2015-10-01 00:02:46,2015-10-01 00:06:26,31104,Adams Mill & Columbia Rd NW,31121,Calvert St & Woodley Pl NW,W00218,Member
4,253,2015-10-01 00:03:02,2015-10-01 00:07:16,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,W21612,Member
...,...,...,...,...,...,...,...,...,...
705998,1439,2015-12-31 23:53:01,2016-01-01 00:17:01,31051,Arlington Blvd & N Queen St,31258,Lincoln Memorial,W20756,Member
705999,1440,2015-12-31 23:53:03,2016-01-01 00:17:04,31051,Arlington Blvd & N Queen St,31258,Lincoln Memorial,W20374,Member
706000,455,2015-12-31 23:56:46,2016-01-01 00:04:22,31114,18th St & Wyoming Ave NW,31280,11th & S St NW,W21538,Member
706001,820,2015-12-31 23:57:46,2016-01-01 00:11:27,31226,34th St & Wisconsin Ave NW,31214,17th & Corcoran St NW,W22194,Member
706002,244,2015-12-31 23:57:57,2016-01-01 00:02:01,31628,1st & K St SE,31108,4th & M St SW,W00589,Member

In [26]:
df.columns()

TypeError: 'Index' object is not callable

In [27]:
df.coloumns

AttributeError: 'DataFrame' object has no attribute 'coloumns'

In [30]:
 df.columns

Index(['Duration', 'Start date', 'End date', 'Start station number',
       'Start station', 'End station number', 'End station', 'Bike number',
       'Member type'],
      dtype='object')

In [35]:
y=df["Duration"]

In [36]:
model

LinearRegression()

In [37]:
model=LinearRegression()

In [38]:
X

NameError: name 'X' is not defined

In [39]:
x

NameError: name 'x' is not defined

In [40]:
Y

NameError: name 'Y' is not defined

In [41]:
y

0          166
1          379
2          696
3          219
4          253
          ...
705998    1439
705999    1440
706000     455
706001     820
706002     244
Name: Duration, Length: 706003, dtype: int64

In [45]:
X=df[["Start date", "End date", "Start station number",
       "Start station", "End station number", "End station", "Bike number",
       "Member type"]].astype["category"]

TypeError: 'method' object is not subscriptable

In [47]:


# Select columns to convert to categorical
columns_to_convert = ["Start date", "End date", "Start station number",
                      "Start station", "End station number", "End station", 
                      "Bike number", "Member type"]

# Convert selected columns to categorical
df[columns_to_convert] = df[columns_to_convert].astype("category")

In [48]:
x

NameError: name 'x' is not defined

In [49]:
X

NameError: name 'X' is not defined

In [ ]:
X = pd.get_dummies(X, columns=["season", "yr", "mnth", "holiday", "weekday", "workingday", "weathersit"])

In [50]:
X=df[["Start date", "End date", "Start station number",
       "Start station", "End station number", "End station", "Bike number",
       "Member type"]]=df[["Start date", "End date", "Start station number",
       "Start station", "End station number", "End station", "Bike number",
       "Member type"]].astype["category"]

TypeError: 'method' object is not subscriptable

In [52]:
X=df[["Start date", "End date", "Start station number",
       "Start station", "End station number", "End station", "Bike number",
       "Member type"]]=df[["Start date", "End date", "Start station number",
       "Start station", "End station number", "End station", "Bike number",
       "Member type"]].astype("category")

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706003 entries, 0 to 706002
Data columns (total 9 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Duration              706003 non-null  int64
 1   Start date            706003 non-null  category
 2   End date              706003 non-null  category
 3   Start station number  706003 non-null  category
 4   Start station         706003 non-null  category
 5   End station number    706003 non-null  category
 6   End station           706003 non-null  category
 7   Bike number           706003 non-null  category
 8   Member type           706003 non-null  category
dtypes: category(8), int64(1)
memory usage: 60.5 MB

In [54]:
df.pd.get_dummies(df,columns=["Start date", "End date", "Start station number",
       "Start station", "End station number", "End station", "Bike number",
       "Member type"])

AttributeError: 'DataFrame' object has no attribute 'pd'

In [55]:
import pandas as pd

In [56]:
df.pd.get_dummies(df,columns=["Start date", "End date", "Start station number",
       "Start station", "End station number", "End station", "Bike number",
       "Member type"])

AttributeError: 'DataFrame' object has no attribute 'pd'

In [57]:
import pandas as pd

# Assuming df is your DataFrame containing the relevant columns

# Select columns to create dummy variables
columns_to_dummy = ["Start date", "End date", "Start station number",
                    "Start station", "End station number", "End station", 
                    "Bike number", "Member type"]

# Create dummy variables for selected columns
df = pd.get_dummies(df, columns=columns_to_dummy)

MemoryError: Unable to allocate 390. GiB for an array with shape (647257, 647257) and data type bool

In [58]:
X

,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,2015-10-01 00:01:30,2015-10-01 00:04:16,31602,Park Rd & Holmead Pl NW,31105,14th & Harvard St NW,W21109,Member
1,2015-10-01 00:01:38,2015-10-01 00:07:58,31314,34th & Water St NW,31237,25th St & Pennsylvania Ave NW,W20603,Member
2,2015-10-01 00:01:52,2015-10-01 00:13:28,31214,17th & Corcoran St NW,31214,17th & Corcoran St NW,W01233,Member
3,2015-10-01 00:02:46,2015-10-01 00:06:26,31104,Adams Mill & Columbia Rd NW,31121,Calvert St & Woodley Pl NW,W00218,Member
4,2015-10-01 00:03:02,2015-10-01 00:07:16,31102,11th & Kenyon St NW,31102,11th & Kenyon St NW,W21612,Member
...,...,...,...,...,...,...,...,...
705998,2015-12-31 23:53:01,2016-01-01 00:17:01,31051,Arlington Blvd & N Queen St,31258,Lincoln Memorial,W20756,Member
705999,2015-12-31 23:53:03,2016-01-01 00:17:04,31051,Arlington Blvd & N Queen St,31258,Lincoln Memorial,W20374,Member
706000,2015-12-31 23:56:46,2016-01-01 00:04:22,31114,18th St & Wyoming Ave NW,31280,11th & S St NW,W21538,Member
706001,2015-12-31 23:57:46,2016-01-01 00:11:27,31226,34th St & Wisconsin Ave NW,31214,17th & Corcoran St NW,W22194,Member
706002,2015-12-31 23:57:57,2016-01-01 00:02:01,31628,1st & K St SE,31108,4th & M St SW,W00589,Member

In [59]:
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [60]:
import matplotlib

In [62]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (0.12.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=0.25 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from seaborn) (2.1.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\aksha_t30bq4h\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)

In [63]:
!pip install plotly matplotlib seaborn --quiet

In [66]:
df.nunique()

Duration                 11488
Start date              647257
End date                645026
Start station number       356
Start station              356
End station number         356
End station                356
Bike number               3381
Member type                  2
dtype: int64

In [67]:
px.histogram( x='location' , color='red', title='here vs now')

NameError: name 'px' is not defined